body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

a {
   color: white;
}


.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 0PX;
    width: 400px;
    margin: 29px;
}

article a {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but1 {
    background-color: #A1652D;

}

.article-but2 {
    background-color: #33AA00;

}

.article-but3 {
    background-color: #AC1313;

}

.article-but4 {
    background-color: #AC13A6;

}

footer {
    background-color: #139AAC;
    display: flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
